<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>Изменение Студентов</h2>
  <form method="POST">
    {% csrf_token %}
    <p>
      <label>Введите имя студента</label>
      <input type="text" name="name" value="{{student.name}}">
    </p>
     <p>
      <label>Введите фамилию студента</label>
      <input type="text" name="lastname" value="{{student.lastname}}">
    </p>
     <p>
      <label>Введите предмет студента</label>
      <input type="text" name="subject" value="{{student.subject}}">
    </p>
     <p>
      <label>Введите оценку студента</label>
      <input type="text" name="rating" value="{{student.rating}}">
    </p>
     <p>
      <label>Введите средний балл студента</label>
      <input type="text" name="average" value="{{student.average}}">
    </p>
    <input type="submit" value="Сохранить">
  </form>
</body>
</html>